.container {
  width: 93%;
  max-width: 1500px;
  margin: auto;
}

.navigation {
  background-color: #0a071b;
  position: relative;
  z-index: 100;
  .container {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    background-color: #0a071b;
    position: relative;
    z-index: 100;
    .nav_logo_wrp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media screen and (min-width: 900px) {
        width: 50%;
      }
      .logo {
        cursor: pointer;
      }
      .menu_burger_icon {
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
        background-color: #1f1749;
        transition: 0.3s ease-in-out;
        @media screen and (min-width: 900px) {
          display: none;
        }
        span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: white;
        }
        span:nth-child(2) {
          margin: 0.3rem 0;
        }
      }
      .active_menu_burger_icon {
        background-color: #f58859;
        padding: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        @media screen and (min-width: 900px) {
          display: none;
        }
        span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: white;
        }
        span:nth-child(2) {
          margin: 0.3rem 0;
        }
      }
      .navigation_links {
        color: white;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 900px) {
          position: absolute;
          background-color: white;
          height: auto;
          top: 100%;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          transition: 0.5s ease-in-out;
          z-index: 1;
          padding: 2rem;
          transform: translateY(-200%);
          a {
            color: #1f1749 !important;
            margin: 1rem 0;
            width: fit-content;
            &:hover {
              background-color: white !important;
              color: #f58859 !important;
            }
          }
        }
        a {
          margin: 0 0.6rem;
          font-size: 0.9rem;
          color: #bcb8d0;
          padding: 0.8rem;
          transition: 0.3s ease-in-out;
          border-radius: 5px;
          &:hover {
            background-color: #1e1b36;
            color: white;
          }
        }
      }
      .active_navigation_links {
        transform: translateY(0);
        position: absolute;
        background-color: white;
        height: auto;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        z-index: 1;
        padding: 2rem;
        animation: mobileNavActive 1s ease-in-out forwards;
        a {
          color: #1f1749 !important;
          margin: 1rem 0;
          width: fit-content;
          &:hover {
            background-color: white !important;
          }
        }
      }
    }
    .book_btn {
      @media screen and (max-width: 900px) {
        display: none;
      }
      button {
        padding: 1rem 2rem;
        border: 1.5px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        font-weight: bold;
        border-radius: 5px;
        &:hover {
          color: orangered;
          border-color: orangered;
        }
      }
    }
  }
}

.hero {
  background-color: #0a071b;
  .container {
    padding: 4rem 1rem 2rem;
    color: white;
    @media screen and (min-width: 800px) {
      display: flex;
      align-items: center;
    }
    .hero_content {
      background-image: url("../public/Accent_Grey.svg");
      background-repeat: no-repeat;
      padding: 1rem;
      @media screen and (min-width: 800px) {
        width: 55%;
      }
      small {
        color: #bcb8d0;
        font-family: "inter", sans-serif;
        font-weight: bold;
        font-size: 1rem;
      }
      h1 {
        font-size: 2.3rem;
        font-family: "Dela Gothic One", sans-serif;
        margin: 1rem 0;
        @media screen and (min-width: 700px) {
          font-size: 4rem;
        }
      }
      button {
        background-color: #f58859;
        padding: 1rem 2rem;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        font-family: "inter", sans-serif;
        &:hover {
          transform: translateY(-5px);
        }
      }
      .cta_btn {
        margin: 2rem 0;
        button:nth-child(2) {
          margin-left: 0.8rem;
          background-color: #1e1b36;
          color: white;
          &:hover {
            background-color: #bcb8d0;
            color: #0a071b;
          }
        }
      }
    }
    .hero_image {
      background-image: url("../public/Hero_Accent_Large.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #2a263f;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 3rem;
      max-width: 400px;
      margin: auto;
    }
  }
}

.hero_features {
  background-color: #0a071b;
  .container {
    padding: 4rem 1rem;
    display: grid;
    row-gap: 35px;
    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    .feature {
      font-family: "inter", sans-serif;
      color: white;

      @media screen and (min-width: 700px) {
        text-align: center;
      }
      span {
        padding: 0.3rem 0.5rem;
        background-color: #f58859;
        border-radius: 5px;
        margin-right: 1rem;
      }
    }
  }
}
.about {
  background-color: #0a071b;
  .container {
    padding: 4rem 1rem;
    overflow-x: hidden;
    @media screen and (min-width: 800px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .about_image {
      position: relative;
      max-width: 400px;
      @media screen and (min-width: 800px) {
        width: 50%;
      }
      &::before {
        content: "";
        position: absolute;
        right: -3rem;
        bottom: -3rem;
        width: 300px;
        height: 300px;
        background-image: url("../public/about_Image\ Accent.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
      }
    }
    .about_content {
      color: white;
      padding: 4rem 0;
      font-family: "inter", sans-serif;
      @media screen and (min-width: 800px) {
        width: 45%;
      }
      h1 {
        font-family: "Dela Gothic One", sans-serif;
        font-size: 3rem;
      }
      p {
        line-height: 2;
        color: #bcb8d0;
        margin: 2rem 0;
      }
      button {
        padding: 1rem 2rem;
        background-color: #2a263f;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        &:hover {
          transform: translateY(-5px);
          background-color: white;
          color: #0a071b;
        }
      }
    }
  }
}

.services {
  .container {
    padding: 4rem 1rem;
    width: 98%;
    @media screen and (min-width: 700px) {
      padding: 5rem;
    }
    .header {
      background-image: url("../public/Title_Accent.svg");
      background-repeat: no-repeat;
      padding-left: 1rem;
      padding-top: 1rem;
      @media screen and (min-width: 700px) {
        margin-left: 3rem;
      }
      h1 {
        font-size: 3rem;
        font-family: "Dela Gothic One", sans-serif;
        margin-bottom: 1rem;
        color: #0a071b;
      }
      p {
        line-height: 2;
        font-size: 1.1rem;
        color: #5b5675;
        font-family: "inter", sans-serif;
        max-width: 450px;
      }
    }
    .services_carts {
      margin: 4rem 0;
      display: grid;
      row-gap: 3rem;
      column-gap: 3rem;
      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .service {
        font-family: "inter", sans-serif;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        max-width: 400px;
        margin: auto;
        &:hover {
          transform: translateY(-5px);
          h4 {
            color: #f58859;
          }
        }
        .service_image_1 {
          width: 100%;
          height: 250px;
          background-image: url("../public/Service-1.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          overflow: hidden;
        }
        .service_image_2 {
          width: 100%;
          height: 250px;
          background-image: url("../public/Service-2.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          overflow: hidden;
        }
        .service_image_3 {
          width: 100%;
          height: 250px;
          background-image: url("../public/Service-3.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          overflow: hidden;
        }
        h4 {
          font-size: 1.4rem;
          font-family: "Dela Gothic One", sans-serif;
          margin: 1rem 0 0;
          transition: 0.3s ease-in-out;
          color: #0a071b;
        }
        P {
          line-height: 2rem;
          font-size: 1rem;
          color: #5b5675;
          margin: 1rem 0;
        }
        .cta_wrp {
          display: flex;
          align-items: center;
          color: #0a071b;
          font-size: 0.9rem;
          transition: 0.3s ease-in-out;
          &:hover {
            color: #f58859;
          }
        }
      }
    }
  }
}

.features {
  background-color: #0a071b;
  .container {
    padding: 4rem 1rem;
    .header {
      color: white;
      background-image: url("../public/Accent_Grey.svg");
      background-repeat: no-repeat;
      padding: 1rem 0 0 1rem;
      @media screen and (min-width: 500px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      h1 {
        font-size: 2.4rem;
        font-family: "Dela Gothic One", sans-serif;
        margin-bottom: 1rem;
        max-width: 450px;

        @media screen and (min-width: 500px) {
          margin: 0;
        }
      }
      button {
        padding: 1rem 2rem;
        background-color: white;
        color: #0a071b;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-top: 1.3rem;
        @media screen and (min-width: 500px) {
          margin: 0;
        }
      }
    }
    .feature_wrp {
      margin: 4rem 0;
      display: grid;
      row-gap: 3rem;
      column-gap: 3rem;
      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .ftr {
        background-color: #141125;
        color: white;
        padding: 2rem;
        font-family: "inter", sans-serif;
        border-radius: 10px;
        h3 {
          font-family: "Dela Gothic One", sans-serif;
          margin: 1rem 0;
          letter-spacing: 1px;
          font-weight: 600;
        }
        P {
          line-height: 2;
          color: #bcb8d0;
        }
      }
    }
  }
}

.reviews {
  background-color: white;
  .container {
    padding: 6rem 0rem;

    .header {
      background-image: url("../public/Title_Accent.svg");
      background-repeat: no-repeat;
      padding: 1rem 0 0 1rem;

      @media screen and (min-width: 500px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 80%;
        margin: auto;
      }
      h1 {
        font-size: 2.4rem;
        font-family: "Dela Gothic One", sans-serif;
        margin-bottom: 1rem;
        max-width: 450px;
        color: #0a071b;
        @media screen and (min-width: 500px) {
          margin: 0;
        }
      }
      button {
        padding: 1rem 2rem;
        background-color: #141125;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-top: 1.3rem;
        @media screen and (min-width: 500px) {
          margin: 0;
        }
        &:hover {
          transform: translateY(-5px);
          background-color: #f58859;
          color: white;
        }
      }
    }
    .reviews_wrp {
      margin: 4rem 0;
      padding: 4rem 0;
      position: relative;
      display: grid;
      row-gap: 3rem;
      column-gap: 3rem;
      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
        margin: 6rem 0;
      }
      &::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 100%;
        margin: auto;
        background-color: #f8f7fc;
        z-index: 1;
        top: 0;
        left: 10%;
        right: 10%;
        bottom: 0;
      }
      .review {
        box-shadow: 52px 52px 72px -24px #55557c14;
        border-radius: 5px;
        padding: 2rem;
        position: relative;
        z-index: 2;
        background-color: white;
        font-family: "inter", sans-serif;
        p {
          line-height: 2;
          font-size: 1rem;
          color: #0a071b;
        }
        .avatar {
          display: flex;
          align-items: center;
          margin-top: 2rem;
          img {
            width: 50px;
          }
          .avatar_info {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            strong {
              color: #0a071b;
              margin-bottom: 0.5rem;
            }
            small {
              color: #5b5675;
            }
          }
        }
      }
    }
  }
}

.cta_section {
  margin-bottom: 8rem;
  .container {
    background-color: #0a071b;
    padding: 4rem 2rem;
    border-radius: 10px;
    position: relative;
    @media screen and (min-width: 600px) {
      padding: 4rem;
    }
    @media screen and (min-width: 900px) {
      width: 80%;
      margin: auto;
    }
    .content {
      color: white;
      position: relative;
      z-index: 2;
      max-width: 450px;
      h1 {
        font-family: "Dela Gothic One", sans-serif;
        font-size: 2.5rem;
        @media screen and (min-width: 600px) {
          font-size: 3rem;
        }
      }
      p {
        color: #bcb8d0;
        line-height: 2;
        margin: 2rem 0;
      }
      button {
        padding: 1rem 2rem;
        background-color: #f58859;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-top: 1.3rem;
        @media screen and (min-width: 500px) {
          margin: 0;
        }
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
    .svgBackground {
      position: absolute;
      width: 150px;
      height: auto;
      bottom: 0;
      right: 0;
      z-index: 1;
      @media screen and (min-width: 600px) {
        width: 40%;
      }
    }
  }
}

.schedule {
  .container {
    padding: 4rem 1rem;
    @media screen and (min-width: 1000px) {
      width: 95%;
    }
    h1 {
      font-family: "Dela Gothic One", sans-serif;
      font-size: 2.5rem;
      margin-bottom: 4rem;
      text-align: center;
      @media screen and (min-width: 600px) {
        font-size: 3.5rem;
      }
    }
    .table_wrp {
      font-family: "inter", sans-serif;
      overflow: scroll;
      @media screen and (min-width: 1000px) {
        width: 100%;
      }
      .table_head {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        color: #0a071b;
        div {
          width: 150px;
          padding: 2rem 0;
          background-color: #0a071b;
          color: white;
          text-align: center;
        }
      }
      .first {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        div {
          width: 150px;
          text-align: center;
          border: 0.2px solid #dcd8f02f;
          padding: 2rem 0;
          small {
            width: 100%;
          }
        }
      }
      .seconde {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;

        div {
          width: 150px;
          text-align: center;
          border: 0.2px solid #dcd8f02f;
          padding: 1rem 0;
          background-color: #f8f7fc;
          small {
            width: 100%;
          }
        }
      }
      .empty {
        height: 100%;
      }
      .date {
        display: flex;
        align-items: center;
        align-items: center;
        height: 100%;
        span {
          width: 100%;
          display: block;
          border: none;
          font-weight: bold;
        }
      }
    }
  }
}

.fqa {
  .container {
    padding: 4rem 1rem;
    .header {
      background-image: url("../public/Title_Accent.svg");
      background-repeat: no-repeat;
      padding: 1rem 0 0 1rem;
      max-width: 600px;
      margin: auto;
      h1 {
        font-family: "Dela Gothic One", sans-serif;
        font-size: 2.5rem;
        margin-bottom: 4rem;
        text-align: center;
        @media screen and (min-width: 600px) {
          font-size: 3.5rem;
        }
      }
    }
    .fqa_wrp {
      max-width: 600px;
      margin: auto;
      div {
        margin: 1rem 0;
        padding: 1rem 0;
        font-family: "inter", sans-serif;
        h2 {
          color: #0a071b;
        }
        p {
          margin: 1rem;
          color: #5b5675;
          line-height: 2;
          font-size: 1rem;
        }
      }
    }
  }
}

.socila_media {
  .container {
    width: 97%;
    padding-bottom: 4rem;
    h1 {
      font-family: "Dela Gothic One", sans-serif;
      font-size: 2.5rem;
      margin-bottom: 4rem;
      text-align: center;
      @media screen and (min-width: 600px) {
        font-size: 3rem;
      }
    }
    .insta_images {
      display: grid;
      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 900px) {
        grid-template-columns: repeat(4, 1fr);
      }
      .insta_image1,
      .insta_image2,
      .insta_image3,
      .insta_image4 {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        @media screen and (min-width: 700px) {
          height: 400px;
        }
        &:hover {
          .overlay {
            opacity: 1;
            .icon {
              animation: animateIcon 0.4s ease-in-out forwards;
            }
          }
        }
        .overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.753);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s ease-in-out;
          .icon {
            background-color: #f58859;
            padding: 1rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in-out;
          }
        }
      }
      .insta_image1 {
        background-image: url("../public/Instagram1.jpeg");
      }
      .insta_image2 {
        background-image: url("../public/Instagram2.jpeg");
      }
      .insta_image3 {
        background-image: url("../public/Instagram3.jpeg");
      }
      .insta_image4 {
        background-image: url("../public/Instagram4.jpeg");
      }
    }
  }
}

.footer {
  background-color: #0a071b;
  font-family: "inter", sans-serif;
  padding: 4rem 1rem 0rem;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
    }
    .logo {
      cursor: pointer;
      margin-bottom: 1rem;
      @media screen and (min-width: 700px) {
        margin: 0;
      }
    }
    .navigation_links {
      color: white;
      a {
        margin: 0 0.6rem;
        font-size: 0.9rem;
        color: #bcb8d0;
        padding: 0.8rem;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        &:hover {
          background-color: #1e1b36;
          color: white;
        }
      }
    }
  }
  .rights {
    color: white;
    font-size: 0.8rem;
    color: #bcb8d0;
    text-align: center;
    padding: 2rem 0;
  }
}

@keyframes animateIcon {
  0% {
    margin-top: 3rem;
  }
  100% {
    margin: 0;
  }
}

@keyframes mobileNavActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
